---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<style>
  .row {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #aaa;
    padding-top: 0.1em;
    padding-bottom: 2.5em;
  }

  .column1 { width: 20%; padding: 5px; }
  .column2 { width: 80%; padding: 5px; }
  .column1 p, .column2 p { margin: 0; }

  .year-heading {
    margin-top: 3em !important; 
    margin-bottom: 0 !important; 
    padding-bottom: 0.2em;
    color: #bbb;
    border-bottom: 2px solid currentColor;
  }

  /* This will specifically target the first year rendered */
  .first-year-top {
    margin-top: 2em !important;
  }
</style>

Below is a list of talks I have given about my research. Click the links for more information, including slides.

{% assign talks_by_year = site.talks | group_by_exp: "post", "post.date | date: '%Y'" | reverse %}

{% for year_group in talks_by_year %}
  <h1 class="year-heading {% if forloop.first %}first-year-top{% endif %}">
    {{ year_group.name }}
  </h1>
  
  {% for post in year_group.items reversed %}
    <div class="row">
      <div class="column1">
        {% include archive-talk-details-left.html %}
      </div>

      <div class="column2">
        {% include archive-talk-details-right.html %}
      </div>
    </div>
  {% endfor %}
{% endfor %}